@font-face {
    font-family: "Roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-mediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

body {
    font-family: "Roboto-medium", sans-serif;
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:link:hover {
    color: #56CCF2;
}

a:link {
    color: #2D9CDB;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
}
