@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
    font-style: italic;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:link:hover {
    color: #56CCF2;
}

a:link {
    color: #2D9CDB;
}

button {
    padding: 0;
    border: 0;
    font-size: 18px;
    line-height: 1.2;
}

ul, ol {
    padding: 0 0 0 16px;
    margin: 0;
}

li {
    position: relative;
}

p {
    margin: 0 0 10px 0;   
}

h2, h3, h4 {
    margin: 0 0 10px 0;
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    margin-left: 20px;
}

h4 {
    font-size: 18px;
}

fieldset {
    border: none;
}

dd {
 margin: 0;   
}
