@font-face {
    font-family: "Roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-mediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

body {
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}