.header {
  padding: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.nav {
  padding: 20px 0;
}

.nav__list {
  display: grid;
  row-gap: 20px;
  list-style: none;
  padding: 0 0 0 60px;
  margin: 0;
}

.nav__item-link:link {
  color: #2d9cdb;
  font-size: 18px;
}

.registration {
  padding: 0 20px;
}

.registration__title {
  margin-bottom: 20px;
}

.private__title {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;

  padding: 10px;
  display: block;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  font-size: 18px;
  color: #000000;
}

.form__input:invalid {
  border: 1px solid #eb5757;
}

.from__input::placeholder {
  color: #bdbdbd;
}

.form__label-text {
  display: block;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 20px;
  color: #000000
}

.private__btn {
  background: #27ae60;
  border: 1px solid #e0e0e0;
  font-size: 18px;
  color: #f2f2f2;
  line-height: 1.2;
  padding: 10px 30px;
}

.private__checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox--promocode {
  margin-right: 5px;
}

.registration__toggle {
  display: grid;
  column-gap: 10px;
  grid-auto-flow: column;
  justify-content: start;
  margin-bottom: 20px;
}

.reg-toggle__btn {
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #2d9cdb;
  font-weight: 700;
  background: none;
  border: none;
  padding: 10px;
}

.reg-toggle__btn--active {
  background: #2d9cdb;
  color: #ffffff;
  text-decoration-line: none;
}
