header.header.body__section
        img.header__logo(src="./img/logo.svg" width="202" height="44" alt="Логотип школы программирования на LISP Brackets")
        nav.nav.nav--active
            button.nav__btn.menu-btn(aria-expanded="")
                svg.menu-btn__burger.menu-btn__svg(width="30" height="20" viewBox="0 0 30 20" fill="#333333")
                    rect(width="30" height="4" fill="inherit")
                    rect(y="8" width="30" height="4" fill="inherit")
                    rect(y="16" width="30" height="4" fill="inherit")
                svg.menu-btn__cross.menu-btn__svg(width="25" height="25" viewBox="0 0 25 25" fill="#333333")
                    rect(width="29.9481" height="3.99308" transform="matrix(0.707719 -0.706494 0.707719 0.706494 0 21.1765)" fill="inherit")
                    rect(width="29.948" height="3.99307" transform="matrix(0.706494 0.707719 -0.706494 0.707719 2.82355 7.62939e-06)" fill="inherit")
            ul.nav__list.nav__list--active
                li
                    a(href="#") Программа
                li
                    a(href="#") Учебные проекты
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Записаться
