.card {
    padding: 20px;
    position: relative;
    overflow-y: hidden;
    display: none;
    grid-template-rows: 70px max-content;
    grid-template-columns: min-content 1fr;
    row-gap: 15px;
    column-gap: 5px;
}

@media (min-width: 1000px) {
    .card {
        padding: 40px 0;
        grid-template-columns: 520px min-content;
        grid-template-rows: min-content max-content;
        justify-content: center;
        display: none;
        column-gap: 0;
    }
}

.card--active {
    display: grid;
}

.card__bracket {
    position: absolute;
    right: 32px;
    top: calc(50% - 78px);
    width: 40px;
    height: 156px;
}

@media (min-width: 1000px) {
    .card__bracket {
        position: static;
        width: 10px;
        height: 37px;
        align-self: center;
        grid-column: -1 / -1;
        justify-self: end;
    }
}

.card__title {
    font-size: 30px;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
    align-self: center;
    margin: 0;
}

@media (min-width: 1000px) {
    .card__title {
        font-size: 36px;
        margin-bottom: 0;
    }
}

.card__icon {
    height: 70px;
    width: 70px;
}

@media (min-width: 1000px) {
    .card__icon {
        height: 135px;
        width: 135px;
        grid-column: -1;
        grid-row: 2;
    }
}

.card__desc {
    position: relative;
    margin: 0;
    color: #F2F2F2;
    z-index: 1;
    grid-column: 1 / -1;
}

@media (min-width: 1000px) {
    .card__desc {
        font-size: 24px;
        grid-column: 1 / 1;
        padding-right: 10px;
    }
}

.toggle {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    column-gap: 17px;
    padding-top: 10px;
}

@media (min-width: 1000px) {
    .toggle {
        padding-top: 20px;
    }
}

.toggle__item {
    border: 1px solid #4F4F4F;
    width: 13px;
    height: 13px;
    background: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.toggle__item:hover {
    border: 1px solid #56CCF2;
}

.toggle__item--active {
    background: #56CCF2;
}

.toggle__item:focus {
    border: 1px solid #56CCF2;
}
