section.body__section
    h3 Учебные проекты
    article.card.card--microphone.card--active
        h4.card__title Новостной сайт «Бургундия»
        svg.card__bracket
            use(xlink:href="#bracket")
        p.card__desc Небольшой новостной проект. В этом проекте вы поработаете с базами данных, сделаете роутинг, серверный рендеринг и напишете API для общения с клиентом
    article.card.card--joker
        h4.card__title Техасский холдем онлайн
        svg.card__bracket
            use(xlink:href="#bracket")
        p.card__desc Онлайн-казино, в котором играют в техасский холдем. Вы сделаете процессинг платежей, опишете поведение искуственного интеллекта, играющего в покер и мультиплеер
    article.card.card--telescope
        h4.card__title Интерактивная карта Плутона
        svg.card__bracket
            use(xlink:href="#bracket")
        p.card__desc Онлайн-карта. На фронте используется Google Maps, но вам предстоит сгенерировать картинки поверхности всей планеты и придумать как передавать их на клиент
    div.toggle
        button.toggle__item.toggle__item--active
        button.toggle__item
        button.toggle__item
