.footer {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #C4C4C4;
}

.footer__text {
    color: #BDBDBD;
    margin: 0;
    display: grid;
}

@media(min-width: 1000px) {
    .footer__text {
        grid-auto-flow: column;
        column-gap: 0.4em;
    }
}
