footer.footer
    p.footer__text Сделано в
        a(href="http://oneboot.camp/") OneBootcamp
    a(href="#header")
        img(src="./img/logo.svg" width="202" height="44" alt="Школа программирования на LISP Brackets")
