section.body__section.body__section--feedback#feedback
    h3 Отзывы выпускников
    article.feedback-card.feedback-card--active
        blockquote.feedback-card__blockquote Еще со школы я любил программировать и хотел изучить программирование на LISP. Спасибо Brackets за то, что, помогли воплотить мечту
        p Колян,
            br
            | выпускник первого потока
    article.feedback-card
        blockquote.feedback-card__blockquote Еще со школы я любил программировать и хотел изучить программирование на LISP. Спасибо Brackets за то, что, помогли воплотить мечту
        p В,
            br
            | выпускник первого потока
    article.feedback-card
        blockquote.feedback-card__blockquote Еще со школы я любил программировать и хотел изучить программирование на LISP. Спасибо Brackets за то, что, помогли воплотить мечту
        p Г,
            br
            | выпускник первого потока
    div.users-switch
        span.users-switch__triangle
        button.users-switch__btn.users-switch__btn--active(type="button")
            img.avatar.avatar-active(src="img/avatar-1.jpg" alt="Выпускник первого потока Коля" width="46" height="46")
        button.users-switch__btn(type="button")
            img.avatar(src="img/avatar-2.jpg" alt="Выпускник первого потока Толя" width="46" height="46")
        button.users-switch__btn(type="button")
            img.avatar(src="img/avatar-3.jpg" alt="Выпускник первого потока Анна" width="46" height="46")
