if (feedback_items != undefined)
    if (feedback_items.length > 0)
        section.body__section.body__section--feedback#feedback
            h3 Отзывы выпускников
            each article in feedback_items
                article.feedback-card.feedback-card--active
                    blockquote.feedback-card__blockquote #{article.text}
                    p #{article.author.name},
                        br
                        | #{article.author.description}
            div.users-switch
                span.users-switch__triangle
                each element, i in feedback_items
                    button(class="users-switch__btn" class=(i == 0 ? "users-switch__btn--active" : "") type="button")
                        img.avatar.avatar-active(src=("../../img/" + element.author.avatar) alt=(element.author.description + " " + element.author.name) width="46" height="46")
